@page
@model Synthesis_assignment_web.Pages.AboutModel;
@{
}
<h1>About this website</h1>
<br>
<p>This site has an appealing user interface so that you can order fresh products every day with only a few clicks.
   Yes, it is that simple! You can start adding products to your cart now! Note: this site only uses essential cookies.</p>